# Aplicación
PORT=3000
NODE_ENV=development

# Base de datos
DATABASE_HOST=localhost
DATABASE_PORT=1433
DATABASE_NAME=certi_solutions
DATABASE_USER=your_database_user
DATABASE_PASSWORD=your_database_password

# API de inteligencia artificial
AI_API_KEY=your_api_key
AI_MODEL=your_model_name

# Oracle Cloud Infrastructure
OCI_REGION=your_oci_region
OCI_COMPARTMENT_ID=your_compartment_id
